body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 24px;
}

#question {
    font-size: 20px;
    margin: 20px 0;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}

#streak {
    font-weight: bold;
    color: green;
}

.font-sample {
    margin: 20px 0;
    padding: 10px;
    font-size: 24px;
    border-bottom: 2px solid #ccc;
}

.noto-sans {
    font-family: 'Noto Sans JP', sans-serif;
}

#kana-to-romaji {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 66px;
    width: 100%;
    font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'ヒラギノ角ゴ Pro W3', メイリオ, Osaka, 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    word-spacing: 0px;
    text-indent: 0px;
    line-height: normal;
}
